.container {
    display: flex;
}
.navigation-tree {
    padding: 10px;
    margin: 2px auto;
    min-width: 320px;
    height: 100vh;
    border-right: solid 2px gray;
}

.preview-space {
    width: 100%;
    height: 100vh;
}
